<mat-form-field>
  <mat-chip-list #searchList>
    <mat-chip
      *ngFor="let item of model"
      [selectable]="true"
      [removable]="true"
      (removed)="onRemove(item)">
      <ng-container
        [ngTemplateOutlet]="templateRef"
        [ngTemplateOutletContext]="{ data: item }">
      </ng-container>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="{{label}}"
      #searchInput
      [(ngModel)]="keyword"
      (ngModelChange)="onSelect($event)"
      (keyup)="keyword$.next(keyword)"
      name="keyword"
      [matAutocomplete]="autocompleteSearch"
      [matChipInputFor]="searchList"
      [matChipInputAddOnBlur]="true">
  </mat-chip-list>
  <mat-autocomplete
    #autocompleteSearch="matAutocomplete"
    class="fs-account-picker-autocomplete"
    autoActiveFirstOption="true">
    <!-- <mat-optgroup *ngIf="searchData.length" label="Select Account"></mat-optgroup> -->

    <mat-option *ngFor="let item of searchData" [value]="item">
      <ng-container
        [ngTemplateOutlet]="templateRef"
        [ngTemplateOutletContext]="{ data: item }">
      </ng-container>
    </mat-option>

    <ng-container *ngIf="keyword">
      <!-- <mat-optgroup label="Add new person by email"></mat-optgroup> -->

      <mat-option *ngIf="!isValidKeyword" disabled class="invalid-email-preview">
        <div>{{ keyword }}</div>
        <small>Invalid email address</small>
      </mat-option>

      <mat-option *ngIf="isValidKeyword && newData" [value]="newData">
        <ng-container
          [ngTemplateOutlet]="templateRef"
          [ngTemplateOutletContext]="{ data: newData }">
        </ng-container>
      </mat-option>

    </ng-container>
  </mat-autocomplete>
</mat-form-field>
